html, body {
    margin: 0px;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.right-pane {
    position: absolute;
    right: 1em;
    text-align: right;
    width: 25%;
}

.right-pane .title {
    font-size: 5em;
    font-weight: bold;
    padding-top: 0.5em;
}

.left-pane {
    position: fixed;
    left: 1em;
    z-index:2000;
}

.rank {
    margin-bottom: 4em;
}

.rank span {
    font-size: 3em;
    font-weight: bold;
}


.header-main {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.main.content {
    margin-bottom: 1em;
}

.header {
    font-weight: bold;
    font-size: 0.7em;
    text-transform: uppercase;
    cursor: pointer;
}

.left-pane .content {
    font-size: 1em;
}

.left-pane .metric {
    font-size: 0.7em;
}

.left-pane .content .bar {
    display: inline-block;
    background: black;
    line-height: 0.7em;
    height: 2.5px;
    vertical-align: middle;
    margin-right: 0.5em;
    opacity: 0.7;
}

.center{
    text-align: center;
    width: 100%;
    height: 100%;
    background: yellow;
}

.general-fact {
    margin-top: 2em;
     float: right;
     margin-bottom: 2em;
     /* position: absolute; */
     /* bottom: 0.5em; */
     /* right: 0.5em; */
     /* background: red; */
}

.general-fact b {
    width: 100%;
     margin-bottom: 0.5em;
     display: block;
     text-align: right;
}

.hide-content {
    display: none;
}

.node circle {
    fill: none;
}

.node {
    cursor: pointer;
}

span.bold {
    font-weight: bold;
    text-decoration: underline;
}

svg {
    z-index: 1000;
}

.order-print {
    /* position: absolute; */
    /* right: 1em; */
    /* bottom: 1em; */
    font-size: 0.8em;
}
.metric-desc {
    margin-top: 2em;
    font-size: 0.5em;
    cursor: pointer;
}

.artists{
     margin-top: 4em;
}

.artists li {
    list-style: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    /* float: right; */
}

.artists ul{
    float: right;
    padding: 0px;
    /* float: right; */
    width: 60%;
    /* text-align: right; */
}

.page h2 {
     text-transform: uppercase;
}

.page-content {
    margin-top: 2em;
     float: right;
     margin-bottom: 2em;
}

.header.focus, .header-main.focus {
     text-decoration: underline;
}

.artist-chart {
    padding-top: 10%;
    width: 100%;
    text-align: center;
    position: absolute;
}

