html, body {
  margin: 0px;
  height: 100%;
}

body {
  color: #1163AD;
  font-family: sans-serif;
  /* background: yellow; */
  position: relative;
  padding: 0px 10px;
  overflow: hidden;
  background: url(http://i.imgur.com/38woplG.png);
}

h1 {
    padding-top: 0px;
    margin-top: 0px;
    text-transform: uppercase;
}
.wrapper {
    position: relative;
    /* background: red; */
    height: 100%;
    margin: 10px 0px;
}

.summary {
    top: 0px;
    right: 0px;
    width: 25%;
    /* background: yellow; */
    float: left;
}

.summary h2, .summary h3 {
     margin: 0px 0px;
}


.summary .category-list {
    margin-top: 20px;
}

.category ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.category {
    margin-top: 20px;
}
.category li {
     display: inline-block;
     margin-left: 5px;
     text-transform: capitalize;
     line-height: 25px;
}
.category .header {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 5px;
}

.category li.checkbox {
    cursor: pointer;
}

.category li.checkbox span {
     display: inline-block;
     width:  15px;
     height: 15px;
     border: 1px solid #1163AD;
     vertical-align: middle;
     margin: 0px 5px;
     line-height: 15px;
     text-align: center;
}

.category li.checkbox.checked span::before {
    font-size: 24px;
    content: "■";
}



.bottom-right-box {
    position: absolute;
    bottom: 20px;
    right: 0px;
    text-align: right;
    font-size: 10px;
}

svg { 
    float: left;
    width: 55%;
    height: 100%;
}

svg.bubble {
    /* background:red; */
}

svg .node {
    cursor: pointer;
}

.company-profile {
     width: 20%;
     height: 100%;
     float: left;
     /* background: pink; */
     text-align: right;
}

#pop-up {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* padding: 10px; */
    border: 1px solid #1163AD;
    display: none;
    background: white;
    transition: transform 0.2s linear;
}

span.highlight {
    text-decoration: underline;
}
